.content-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.favorite-section {
  width: 100%;
  text-align: center;
  margin-top: 40px;
}

.favorite-section h3 {
  margin-bottom: 20px;
}

.profile-page h2,
.profile-page h3,
.profile-page h4,
.profile-page h5 {
  text-align: center !important;
  width: 100%;
}

.week-calendar {
  display: grid;
  grid-template-columns: repeat(auto-fit, 150px);
  gap: 15px;
  margin-top: 20px;
  justify-content: center; 
  width: 100%;
}

.week-calendar-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.week-exercise-card {
  display: flex;
  flex-direction: column; 
  align-items: center;    
  gap: 6px;
  background: rgba(0, 0, 0, 0.4);
  border: 1px solid red;
  padding: 8px;
  border-radius: 6px;
  margin-bottom: 8px;
  position: relative;

}

.week-exercise-card img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  border-radius: 4px;
}

.week-ex-name {
  flex: 1;
  font-size: 0.9rem;
  color: white;
}

.remove-from-day {
  background: rgba(255, 0, 0, 0.85);
  border: none;
  color: white;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  cursor: pointer;
  font-weight: bold;
  position: absolute;
  right: 6px;
  top: 6px;
}

.day-cell {
  background: rgba(0, 0, 0, 0.6);
  border: 1px solid red;
  border-radius: 8px;
  padding: 10px;
  min-height: 120px;
}

.day-name {
  font-weight: bold;
  color: #ff4d4d;
  margin-bottom: 10px;
}

.exercise-list {
  list-style: none;
  padding-left: 0;
  font-size: 0.9rem;
}

.no-exercise {
  opacity: 0.7;
}

.favorite-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
  width: 100%;
  padding: 20px;
  justify-items: center;
}

.favorite-card {
  background: rgba(0,0,0,0.6);
  border: 1px solid red;
  border-radius: 8px;
  padding: 10px;
  width: 180px;
  cursor: pointer;
  text-align: center;
  transition: 0.2s;
}

.favorite-card:hover {
  transform: scale(1.05);
  border-color: gold;
}

.favorite-card img {
  width: 100%;
  height: 100px;
  object-fit: contain;
  border-radius: 6px;
}
.favorites-title {
  text-align: center;
  width: 100%;
  margin-bottom: 15px;
  font-weight: bold;
  color: red;
}