.content-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.profile-page h2,
.profile-page h3,
.profile-page h4,
.profile-page h5 {
  text-align: center !important;
  width: 100%;
}

.week-calendar {
  
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 15px;
  margin-top: 20px;
}

.day-cell {
  background: rgba(0, 0, 0, 0.6);
  border: 1px solid red;
  border-radius: 8px;
  padding: 10px;
  min-height: 120px;
}

.day-name {
  font-weight: bold;
  color: #ff4d4d;
  margin-bottom: 10px;
}

.exercise-list {
  list-style: none;
  padding-left: 0;
  font-size: 0.9rem;
}

.no-exercise {
  opacity: 0.7;
}

.favorite-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 20px;
  width: 100%;
  max-width: 1000px;
  padding: 20px;
}

.favorite-card {
  background: rgba(0,0,0,0.6);
  border: 1px solid red;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
}
.favorite-card:hover {
  transform: scale(1.03);
  border-color: gold;
}

.favorite-card img {
  width: 100%;
  height: 120px;
  object-fit: contain;
  border-radius: 6px;
}